<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
>

    <testsuites>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </source>

    <php>
        <env name="DOC_PATH" value="tests/Fixtures/docs" />
        <env name="PUBLISH_PATH" value="tests/Fixtures/public" />
        <env name="DEFAULT_VERSION" value="20.x" />
        <env name="DOC_VERSIONS" value="20.x,10.x" />
        <!-- <env name="DOC_PATH" value="docs" />
        <env name="PUBLISH_PATH" value="public" />
        <env name="DEFAULT_VERSION" value="master" />
        <env name="DOC_VERSIONS" value="master" /> -->
        <env name="TEMPLATE_PATH" value="templates" />
        <env name="EXCLUDES_FILES" value=".gitignore" />
        <env name="TORCHLIGHT_TOKEN" value="torch_1svQsUUUJROGJ9lwwaqZSq9tJSpIKEQpNft3OXo9" />
        <env name="TORCHLIGHT_LIGHT_THEME" value="github-light" />
        <env name="TORCHLIGHT_DARK_THEME" value="github-dark" />
        <env name="APP_URL" value="https://document2.test" />
        <env name="ORIGINAL_URL" value="https://www.laravel.com" />
    </php>
</phpunit>